<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= params[:user_text]%></h2>

<h2>Vowels:<%= params[:user_text]%> </h2>

<h2>Consonants: <%= params[:user_text]%> </h2>

<h2>Most Common Letter:<%= params[:user_text] %> used <%= params[:user_text] %> times</h2>
