require 'pry
<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= :words%></h2>
binding.pry
<h2>Vowels:<%= vowel = vowel%> </h2>

<h2>Consonants: <%= con = con%> </h2>

<h2>Most Common Letter:<%= letter %> used <%= times %> times</h2>
